{deps, [
	{     emqttc, {git, "https://github.com/emqtt/emqttc.git",      {tag, "0.4.1-beta"}}},
	{ erlang_ale, {git, "https://github.com/esl/erlang_ale.git",    {tag, "v0.1.0"    }}},
	{ gen_logger, {git, "https://github.com/emqtt/gen_logger",      {tag, "v1.0-beta" }}},
	{      jiffy, {git, "https://github.com/davisp/jiffy.git",      {tag, "0.14.8"    }}},
	{ rpi_ws281x, {git, "https://github.com/jgarff/rpi_ws281x.git", {branch, "master" }}, [raw]}
]}.

%{pre_hooks, [{"linux", compile, "make -C c_src"}]}.
%{post_hooks, [{"linux", clean, "make -C c_src clean"}]}.